.Burger {
  width: 100%;
  margin: auto;
  height: 280px;
  overflow: auto;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 400px;
    height: 340px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    width: 550px;
    height: 500px;
  }
}
